.slide {
    font-size: 30px;
}

.cimg {
    max-width: 100%;
}

.ccnt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.slide blockquote.big {
    font-size: 38px;
}

.slide blockquote:before {
    font-size: 4em;
}

figcaption {
    text-align: right;
    font-style: italic;
}

.akita {
    max-width: 200px;
}

.akita-example {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.akita-code {
    max-width: 680px;
}

.commit-strip-regexp {
    max-width: 400px;
}

.yellow {
    color: #ffcd33;
}

.green {
    color: green;
}

.slide .small {
    font-size: 0.6em;
}

.slide .smaller {
    font-size: 0.7em;
}

.slide .bigger {
    font-size: 1.5em;
}

.slide .big {
    font-size: 3em;
}

.slide .smallest {
    font-size: 0.4em;
}

.slide pre code[class*="language-"] {
    width: auto;
    font-family: PT Mono, monospace, monospace;
}

.slide pre code[class*="language-"].highlight {
    font-weight: bold;
}

.slide pre[class*="language-"] {
    background: none;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.slide .center {
    text-align: center;
}

.slide figure > img + h2 {
    background: #ffcd33;
    display: inline;
}

.slide .shout.shout-small {
    font-size: 2em;
}